<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key="FacebookAppId" value="376388383027407"/>
  <add key="FacebookAppSecred" value="72f7057cf904ef6b6c8163951914b223"/>
  <add key="GoogleAppId" value="471844739173-v2o12jkchrj7rf06f6lgbo729rob1r6m.apps.googleusercontent.com"/>
  <add key="GoogleAppSecret" value="TB8hm7Whpww6TdWkpVvp1K7r"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
